<ActionBar>
    <Label text="Detalle"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="icon-cls fas" text="&#xf05a;"></Label>
    <StackLayout [height]="editing ? 'auto' : '0px'">
        <EditForm [textFieldValue]="text" (actualizar)="actualizar($event)"></EditForm>
    </StackLayout>
    <Label class="page__content-placeholder color" [text]="item"></Label>
    <PullToRefresh
        loaded="swipeLoaded"
        (refresh)="refreshList($event)"
        indicatorFillColor="#fff000"
        indicatorColor="#3489db" >
        <ListView class="list-group"
            [items]="this.subItems"
            (itemTap)="onItemTap($event)"
            style="height: 1250px"
            id="Lista" >
            <ng-template let-x="item" let-i="index" >
                <GridLayout
                    columns="auto, *, auto, auto"
                    rows="auto, 40, auto"
                    verticalAlignment="top"
                    backgroundColor="lightgray" >
                    <Image
                        src="res://icon"
                        margin="3"
                        width="72"
                        height="72"
                        rowSpan="3"
                        verticalAlignment="top" >
                    </Image>
                    <label
                        text="{{ 'Comentario ' + x }}"
                        textWrap="true"
                        col="1"
                        id="{{ 'COM' + i }}"
                        colSpan="4"
                        minHeight="20"
                        fontSize="20"
                        margin="3" >
                    </label>
                    <label
                        text="{{ 'Usuario: Usuario ' + x }}"
                        col="1"
                        row="1"
                        fontSize="14"
                        horizontalAlignment="left"
                        verticalAlignment="bottom"
                        margin="3">
                    </label>
                    <label
                        text="{{ 'Puntuaje: ' + x }}"
                        col="2"
                        row="1"
                        id="{{ 'P' + i }}"
                        colSpan="3"
                        color="blue"
                        fontSize="14"
                        verticalAlignment="bottom"
                        margin="3">
                    </label>
                    <Label
                        class="fas"
                        text="&#xf2ed;"
                        row="2"
                        col="0"
                        id="{{ 'D' + i }}"
                        (tap)="onDelete($event)"
                        horizontalAlignment="right"
                        color="red"
                        fontSize="30">
                    </Label>
                    <Label
                        class="fas"
                        text="&#xf164;"
                        row="2"
                        col="1"
                        id="{{ 'VU' + i }}"
                        (tap)="onVoteUp($event)"
                        horizontalAlignment="right"
                        color="green"
                        fontSize="30">
                    </Label>
                    <Label
                        class="fas"
                        text="&#xf165;"
                        row="2"
                        col="2"
                        id="{{ 'VD' + i }}"
                        (tap)="onVoteDown($event)"
                        color="orange"
                        fontSize="30">
                    </Label>
                    <Label
                        class="fas"
                        text="&#xf303;"
                        row="2"
                        col="3"
                        id="{{ 'ED' + i }}"
                        (tap)="onEdit($event)"
                        color="blue"
                        fontSize="30">
                    </Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </PullToRefresh>
</StackLayout>
