<ActionBar>
    <Label text="Nuevo 2"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <Label class="page__content-placeholder" text="<!-- Nuevo 2 -->"></Label>
</GridLayout>

